In [8]:
import pandas as pd

In [34]:
trip = pd.read_csv('./trip.csv', error_bad_lines=False)
trip.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [35]:
weather = pd.read_csv('./weather.csv', error_bad_lines=False)
weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [47]:
station = pd.read_csv('./station.csv', error_bad_lines=False)
station.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN
10,CD-01,12th Ave & E Yesler Way,47.602103,-122.316923,5/22/2015,16,8/9/2016,0,8/9/2016
11,CH-01,Summit Ave & E Denny Way,47.618633,-122.325249,10/13/2014,16,NaN,16,NaN
12,CH-02,E Harrison St & Broadway Ave E,47.622063,-122.321251,10/13/2014,18,2/24/2015,20,NaN
13,CH-03,Summit Ave E & E Republican St,47.623367,-122.325279,10/13/2014,16,NaN,16,NaN
14,CH-05,15th Ave E & E Thomas St,47.620712,-122.312805,10/13/2014,16,NaN,16,NaN
15,CH-06,12th Ave & E Denny Way,47.618549,-122.317017,10/13/2014,16,NaN,16,NaN
16,CH-07,E Pine St & 16th Ave,47.615330,-122.311752,10/13/2014,18,NaN,18,NaN
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN
18,CH-09,Harvard Ave & E Pine St,47.615517,-122.322083,10/13/2014,16,NaN,16,NaN
19,CH-12,Bellevue Ave & E Pine St,47.615456,-122.326729,10/13/2014,18,NaN,14,NaN

In [32]:
average_duration_sec = trip['tripduration'].mean()
average_duration_min = (average_duration_sec/60).round(2)
print(f'The average trip duration is {average_duration_min} minutes')

The average trip duration is 19.64 minutes

In [37]:
common_year = trip['birthyear'].mode()[0]
avg_age = 2015 - common_year
avg_age

28.0

In [41]:
rain = weather['Precipitation_In'].mean()
monthly = rain * 30
print(f'Average precipitation is {monthly.round(2)} inches per month')

Average precipitation is 3.15 inches per month

In [43]:
rain_med = weather['Precipitation_In'].median()

print(f'Meidan precipitation per day is {rain_med.round(5)} inches')

Meidan precipitation per day is 0.0 inches

In [45]:
avg_bikes = station['current_dockcount'].mean()
avg_bikes.round(0)

17.0

In [68]:
filter_NaN = station[station['modification_date'].notnull()]

increase = 0
decrease = 0
for i in filter_NaN:
    if station['install_dockcount'][0] > station['current_dockcount'][0]:
        decrease += 1
    else: 
        increase +=1

print(increase)
print(decrease)
filter_NaN

9
0

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
10,CD-01,12th Ave & E Yesler Way,47.602103,-122.316923,5/22/2015,16,8/9/2016,0,8/9/2016
12,CH-02,E Harrison St & Broadway Ave E,47.622063,-122.321251,10/13/2014,18,2/24/2015,20,NaN
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN
22,DPD-03,Children's Hospital / Sandpoint Way NE & 40th ...,47.663509,-122.284119,10/13/2014,30,3/24/2015,24,NaN
23,EL-01,Fred Hutchinson Cancer Research Center / Fairv...,47.627643,-122.332576,10/13/2014,12,3/27/2015,16,NaN
26,FH-01,Frye Art Museum / Terry Ave & Columbia St,47.607281,-122.324783,10/13/2014,16,3/18/2016,0,3/18/2016
31,SLU-01,REI / Yale Ave N & John St,47.619859,-122.330304,10/13/2014,18,2/24/2015,20,NaN
35,SLU-15,Westlake Ave & 6th Ave,47.613628,-122.337341,10/13/2014,12,3/13/2015,20,NaN
37,SLU-17,Lake Union Park / Valley St & Boren Ave N,47.626041,-122.335831,10/13/2014,18,2/23/2015,16,NaN
38,SLU-18,Dexter Ave & Denny Way,47.618285,-122.342205,10/13/2014,20,11/2/2015,0,7/2/2016
39,SLU-19,Key Arena / 1st Ave N & Harrison St,47.622277,-122.355230,10/13/2014,12,3/4/2015,16,NaN
46,UW-01,UW McCarty Hall / Whitman Ct,47.660268,-122.304826,10/13/2014,16,10/29/2015,0,10/29/2015
47,UW-02,Burke Museum / E Stevens Way NE & Memorial Way NE,47.659756,-122.310402,10/13/2014,12,2/20/2015,14,NaN
48,UW-04,15th Ave NE & NE 40th St,47.655590,-122.311890,10/13/2014,18,2/20/2015,16,NaN
49,UW-06,UW Engineering Library / E Stevens Way NE & Je...,47.654613,-122.304863,10/13/2014,12,2/20/2015,14,NaN
50,UW-07,UW Intramural Activities Building,47.653713,-122.302162,10/13/2014,20,2/20/2015,14,NaN